.player-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
}

.username{
  padding: 16px;
}

.endorsement-frame {
  width: 50px;
}

.h4 {
  font-size: large;
}

.graph-container {
  height: 600px;
}